

<form action="/" method="POST">
  <label for="place">Place</label>
  <input type="text" id="place" name="place">

  <label for="title">Title</label>
  <input type="text" name="title" id="title">

  <label for="date">Date</label>
  <input type="date" name="date" id="date">

  <label for="image-url">Picture</label>
  <input type="text" name="imageUrl" id="image-url">

  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"></textarea>

  <button type="submit" class="btn btn-primary">Create Memory</button>
</form>
