<body class="gray-bg ">
  <section class="section-half banner-area">
    <div class="container-newtravel mt-40">
      <div class="row justify-content-center">
  
      </div>
      <h3 class="ml-30 change">New memory? Keep it!</h3>
      <div class="contact-form mt-30">
        <div class="center">
  
          <form action="/travels" method="POST" class="contact-form" enctype="multipart/form-data">
            <!-- <label for="place" class="col-sm-2 col-form-label">Place</label> -->
            <div class="col-lg-6 single-input color-2 mb-10">
              <input type="text" class="form-control" id="place" name="place" placeholder="place">
            </div>
          
            <!-- <label for="title" class="col-sm-2 col-form-label">Title</label> -->
            <div class="col-lg-6 single-input color-2 mb-10">
              <input type="text" class="form-control" name="title" id="title" placeholder="Title">
            </div>
          
            <!-- <label for="date" class="col-sm-2 col-form-label">Date</label> -->
            <div class="col-lg-6 single-input color-2 mb-10">
              <input type="date" class="form-control" name="date" id="date" placeholder="date">
            </div>

            
            <!-- <label for="description" class="col-sm-2 col-form-label">Description</label> -->
            <div class="col-lg-6 single-input color-2 mb-10">
              <textarea type="text" class="form-control" id="description" name="description" placeholder="description"></textarea>
            </div>
            
            
            <!-- <div class="col-lg-6 single-input color-2 mb-10">
              <input type="text" name="name">
              <input type="file" name="photo">
            </div> -->

            <div class="col-lg-6 color-2 mb-10 d-flex justify-content-center">
              <span class="btn primary-btn d-inline-flex align-items-center upload mt-15 upload">
                <p class="texto"> Upload the picture </p>
                <input class="custom-file-input" type="file" name="photo">
              </span>
              <!-- <input type="text" class="form-control"> -->
            </div>
            
            <div class="col-lg-6 d-flex justify-content-center">
              <button class="mt-20 primary-btn d-inline-flex align-items-center" type="submit">Create Memory</button>
            </div>

            <br>

            
          </form>

          <!-- <h2>Upload your photo</h2>
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="name">
            <input type="file" name="photo">
            <input type="submit" value="Save">
          </form> -->
        </div>
      </div>
    </div>
  </section>
</body>
