<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <ul>
        <h1>Travel</h1> 
        <% travels.forEach((travel) => { %>
            <li><%= travel.title%></li>
            <li><%= travel.place%></li>
            <img src="<%= travel.imageUrl%>" style="width:125px; heigth:auto;"> 
            <li style="list-style-type: none;">
            <form action="/travels/<%= travel._id %> ">
                <button type="submit" style="margin-bottom: 50px;"> + info</button>
            </form>
            </li>
        <% }) %>
        </ul>
    </body>
</html>

