<div class="container">
    <section class="section-full">
        <div class="row">
            <div class="col-md-12">
                <h2 class='title-2'>Travels</h2>
            </div>
        </div>
        <div class="row">
    
            <% travels.forEach((travel) => { %>
                <div class='col-md-4'>
                    <div class="picture single-filter-content">
                        <a href="/travels/<%= travel._id %> ">
                            <img class='travels' src="<%= travel.imageUrl%>">
                            <div class='overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column'>
                                <h4 class='text-white text-uppercase'>
                                    <%= travel.place%>
                                </h4>
                                <div class='line'></div>
                                <h5 class='text-white font'>
                                    <%= travel.title%>
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
                <% }) %>
    
        </div>

    </section>
</div>
