body {
  padding: 0px;
  margin: 0px;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo{
  width: 35%;
  position: absolute;
  height: auto;
}

.background-image{
  width: 100%;
  height: auto;
}

.navbar {
  
  padding: 0;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.buttons{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: -10% 0 10% 0;
  
}

.title-2{
  display: flex;
  height: 50px;
  justify-content: center !important;
  margin-bottom: 10px;
 
}

.search-results{
  margin-top: 50px;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

/* .col-md-3{
  display: flex;
  justify-content: center;
  margin: 0px 10px;
  max-width: 580px;;
} */

.title-1{
  position: absolute;
  color: white;
  margin: 15% 10%;
  width: 40%;
  font-size: 400%;
}


.picture{
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  margin: 20px 0;
  /* height: 100%; */
  height: 60%;
  background-color: #00B7FF;
  padding-left: 0;
  padding-right: 0;
}

.travels{
  width: auto;
  height: 100%;
}

.font{
  font-weight: 300;
}


.center {
  margin: auto;
 }
 
 .container-newtravel {
  margin-right: 25%; margin-left: 25%; width: 100vw; 
 }
 
 .text-green {
  color: #00ff8c;
 }
 
 .purple-bg {
  background: #404598;
 }
 
 .arrow {
  margin-left: 20px;
  color: #00ff8c;
  border: 1.5px; 
 }

 .gray-bg {
  background: rgba(60, 64, 143, 0.1);
}

.primary-btn{
  border: 1.5px solid #00ff8c;
}

.details-btn{
  border: 1.5px solid #00ff8c;
}

