body {
  padding: 0px;
  margin: 0px;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background-image{
  width: 100%;
  height: auto;
}

.buttons{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: -10% 0 10% 0;  
}

.center {
  margin: auto;
}

.container-newtravel { 
  margin-right: 25%; margin-left: 25%; width: 100vw; 
}

.text-green {
  color: #00ff8c;
}

.purple-bg {
  background: #404598;
}

.arrow {
  margin-left: 20px;
  color: #00ff8c;
}