body {
  padding: 0px;
  margin: 0px;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

input:focus{
  outline: none;
}

a {
  color: #00ff8c;
}



.pogo{
  width: 35%;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  height: auto;
  padding-left: 70%;
  padding-top: 40px;
}

.logo{
  width: 35%;
  position: absolute;
  height: auto;
}

.background-image{
  width: 100%;
  height: auto;
}

.navbar {
  
  padding: 0;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.buttons{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: -10% 0 10% 0;
  
}

.title-2{
  display: flex;
  height: 50px;
  justify-content: center !important;
  margin-bottom: 10px;
  margin-top: 20px;
 
}

.search-results{
  margin-top: 50px;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

/* .col-md-3{
  display: flex;
  justify-content: center;
  margin: 0px 10px;
  max-width: 580px;;
} */

.title-1{
  position: absolute;
  color: white;
  margin: 15% 15%;
  width: 40%;
  font-size: 400%;
}


.picture{
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  margin: 20px 0;
  /* height: 100%; */
  height: 40%;
  background-color: #00B7FF;
  padding-left: 0;
  padding-right: 0;
}

.travels{
  width: auto;
  height: 100%;
}

.font{
  font-weight: 300;
}


.center {
  margin: auto;
 }
 
 .container-newtravel {
  margin-right: 25%; margin-left: 25%; width: 100vw; 
 }
 
 .text-green {
  color: #00ff8c;
 }
 
 .purple-bg {
  background: #404598;
 }
 
 .arrow {
  margin-left: 20px;
  color: #00ff8c;
  border: 1.5px; 
 }

 .gray-bg {
  background: rgba(60, 64, 143, 0.1);
}

.primary-btn{
  border: 1.5px solid #00ff8c;
}

.details-btn{
  border: 1.5px solid #00ff8c;
}

.bepa{
  padding-top: 40px;
}

.null{
  display: flex;
  margin-left: -400%;
  margin-top: -100%;
}


.animate {
  width: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background:none;
  border-radius: 4px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 16px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 10px 12px 13px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: white;
}

.animate[type=text]:hover:focus {
  width: 150px;
 
}


#push{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left:-2px;
  padding: 0 15px;
}

.img-memory {
  max-width: 650px;
}