<nav class='navbar navbar-inverse navbar-fixed-top' role=”navigation”>
    <div class=”container”>
        <div class=”navbar-header”>
            
            <form class="new pogo" action="/travels/search">
                <input  class='animate' type="text" name="searchTerm" id="search-term" placeholder='Take me back to...'>
                <button id= 'push' class="primary-btn text-white d-inline-flex align-items-center" type="submit"><p class="nav-search">Search</p></button>
            </form> 
            <a class='navbar-brand logo' href= "/" >
            <img id='tris'class= "logo" src="/images/logo-00.png" alt="">
            </a>
        </div>
    </div>
</nav>
<!-- <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script> -->

<!-- <nav>
    <div class="sticky header">
        <div class="container">
            <div class="header-content d-flex justify-content-between align-items-center">
                <a class="navbar-brand logo" href= "/" >
                    <img id='tris' class="logo" src="/images/logo.png" alt="">
                </a>
                <div class="right-bar d-flex align-items-center">

                    <nav class="d-flex align-items-center">
                        <ul class="main-menu">
                            <li>
                                <a href="">Blablba</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="container">
                        <form class="new pogo" action="/travels/search">
                            <input class="animate" type="text" name="searchTerm" id="search-term" placeholder='place...'>
                            <button id='push' class="primary-btn text-white d-inline-flex align-items-center" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav> -->
