<nav class='navbar navbar-inverse navbar-fixed-top' role=”navigation”>
    <div class=”container”>
        <div class=”navbar-header”>
            
            <form class="new pogo" action="/travels/search">
                <input  class='animate' type="text" name="searchTerm" id="search-term" placeholder='place...'>
                <button id= 'push' class="primary-btn text-white d-inline-flex align-items-center" type="submit">Search</button>
            </form> 
            <a class='navbar-brand logo' href= "/" >
            <img id='tris'class= "logo" src="/images/logo.png" alt="">
            </a>
        </div>
    </div>
</nav>
<!-- <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script> -->


