<html>
  <head>
    <meta charset="utf-8">
    <title>My First Website</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/linearicons.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- style %>
  </head>
  <body>
    <% include ../partials/nav %>
    <%- body -%>
    <% include ../partials/footer %>
    <%- script %>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
      </script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#search-term').on('click', function () {
          $('#push').toggle();
        })
      });
    </script>
  </body>
</html>
