<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/travels">Travels</a>
    <a href="/travels/new">New</a>
    <form action="/search">
    <input type="text" name="searchTerm" id="search-term">
    <button type="submit">Search</button>
  </form>
  </body>
</html>
